color_azul = #22BCE0
gris_obscuro = #444;
body
  background #E8E8E8
  color gris_obscuro
  font-family Arial
  font-size 16px

header
  background gris_obscuro
  color white
  padding 1em

  .logo
    border-right 1px solid color_azul
    width 60px
    img
      width 52px

  .titutar

    .titulo
      font-size 18px
      font-weight normal
      margin 0px
      padding 0px

nav
  background color_azul

.left
  float left

.right
  float right